<h1>New Addition </h1>

<form action = "/wizard_add">
<label for = "add_first"> Add this: </label>
<input id = "add_first" type = "text" name = "first_num">

<label for = "add_second"> to this: </label>

<input id = "add_second" type = "text" name = "second_num">

  <button>Add!</button>

</form>
