<h1> New Subtraction </h2>

<form action = "/wizard_subtract">
  
  <label for="first">Subtract this:</label>
  <input id = "first" name = "first_num">

  <label for = "second">From this:</label>
  <input id = "second" name = "second_num">

  <button>Subtract!</button>

</form>
